<!--start footer-->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="dividerWidget">
                        <h4>About Us</h4>
                        <div class="gDot widget"></div>
                    </div>
                    <div class="widfoot_content">
                        <p>Nhiệt tình, chăm chỉ, mến khách</p>
                        <ul class="contact-details-alt">
                            <li><i class="fa fa-map-marker"></i>
                                <p><strong>Địa chỉ</strong>: Tầng 2, Số 99 Hoàng Quốc Việt, Cầu Giấy, Hà Nội</p>
                            </li>
                            <li><i class="fa fa-user"></i>
                                <p><strong>Phone</strong>: 0987353639 (Ms. Hà)</p>
                            </li>
                            <li><i class="fa fa-user"></i>
                                <p><strong>Phone</strong>: 0989534826 (Mr. Đạt)</p>
                            </li>
                            <li><i class="fa fa-envelope"></i>
                                <p><strong>Email</strong>: <a href="#">admin@alimex.vn</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="dividerWidget">
                        <h4>Recent Posts</h4>
                        <div class="gDot widget"></div>
                    </div>
                    <div class="widfoot_content">
                        <ul class="links">
                            <li><i class="fa fa-caret-right"></i> <a href="#">Hướng dẫn cách chọn hàng<span>November 07, 2015</span></a></li>
                            <li><i class="fa fa-caret-right"></i> <a href="#">Hướng dẫn cách tìm shop xịn <span>November 05, 2015</span></a></li>
                            <li><i class="fa fa-caret-right"></i> <a href="#">Thủ thuật chọn hàng <span>November 03, 2015</span></a></li>
                            <li><i class="fa fa-caret-right"></i> <a href="#">Tìm nguồn hàng giá tốt <span>November 02, 2015</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="dividerWidget">
                        <h4>Twitter</h4>
                        <div class="gDot widget"></div>
                    </div>
                    <div class="widfoot_content">
                        <div class="tweet_go"></div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="dividerWidget">
                        <h4>Facebook Page</h4>
                        <div class="gDot widget"></div>
                    </div>
                    <div class="widfoot_content">
                        <div class="fb-page" data-href="https://www.facebook.com/orderhangaliviet" data-width="210" data-height="215" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true">
                            <div class="fb-xfbml-parse-ignore">
                                <blockquote cite="https://www.facebook.com/orderhangaliviet"><a href="https://www.facebook.com/orderhangaliviet">Dịch vụ Vận chuyển, order hàng Trung Quốc về Việt Nam</a></blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--end footer-->

    <section class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p class="copyright">&copy; Copyright AliViet 2015</a>
                    </p>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="footer_social">
                        <ul class="footbot_social">
                            <li><a class="fb" href="https://www.facebook.com/orderhangaliviet" target="_blank" data-placement="top" data-toggle="tooltip" title="Facbook"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twtr" href="#." data-placement="top" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="rss" href="#." data-placement="top" data-toggle="tooltip" title="RSS"><i class="fa fa-rss"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>