<div class="logmod" id="loginlogout-area">
        <div class="logmod__wrapper" style="display:block;">
            <span class="logmod__close" onclick="hideLogin()">Đóng</span>
            <div class="logmod__container">
                <ul class="logmod__tabs">
                    <li data-tabtar="lgm-2"><a href="#" >Đăng nhập</a></li>
                    <li data-tabtar="lgm-1"><a href="#">Đăng ký</a></li>
                </ul>
                <div class="logmod__tab-wrapper">
                    <div class="logmod__tab lgm-1">
                        <div class="logmod__heading">
                            <span class="logmod__heading-subtitle">Nhập thông tin cá nhân để hoàn thành <strong>đăng ký</strong></span>
                        </div>
                        <div class="logmod__form">
                            <form accept-charset="utf-8" action="#" class="simform">
                                <div class="sminputs">
                                    <div class="input full">
                                        <label class="string optional" for="user-name">Email*</label>
                                        <input class="string optional" maxlength="255" id="user-email" placeholder="Email" type="email" size="50" />
                                    </div>
                                </div>
                                <div class="sminputs">
                                    <div class="input full">
                                        <label class="string optional" for="user-name">Tên đăng nhập*</label>
                                        <input class="string optional" maxlength="255" id="user-username" placeholder="Tên đăng nhập" type="text" size="50" />
                                    </div>
                                </div>
                                <div class="sminputs">
                                    <div class="input string optional">
                                        <label class="string optional" for="user-pw">Mật khẩu *</label>
                                        <input class="string optional" maxlength="255" id="user-pw" placeholder="Mật khẩu" type="password" size="50" />
                                    </div>
                                    <div class="input string optional">
                                        <label class="string optional" for="user-pw-repeat">Nhập lại mật khẩu *</label>
                                        <input class="string optional" maxlength="255" id="user-pw-repeat" placeholder="Nhập lại mật khẩu" type="password" size="50" />
                                    </div>
                                </div>
                                <div class="simform__actions">
                                    <input class="sumbit" name="commit" type="sumbit" value="Đăng Ký" />
                                    <span class="simform__actions-sidetext">Tạo tài khoản đồng nghĩa với bạn đã đồng ý với <a class="special" href="#" target="_blank" role="link">Quy định</a></span>
                                </div>
                            </form>
                        </div>
                        <div class="logmod__alter">
                            <div class="logmod__alter-container">
                                <a href="#" class="connect facebook">
                                    <div class="connect__icon">
                                        <i class="fa fa-facebook"></i>
                                    </div>
                                    <div class="connect__context">
                                        <span>Đăng ký với tài khoản <strong>Facebook</strong></span>
                                    </div>
                                </a>

                                <a href="#" class="connect googleplus">
                                    <div class="connect__icon">
                                        <i class="fa fa-google-plus"></i>
                                    </div>
                                    <div class="connect__context">
                                        <span>Đăng ký với tài khoản <strong>Google+</strong></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="logmod__tab lgm-2">
                        <div class="logmod__heading">
                            <span class="logmod__heading-subtitle">Nhập email và mật khẩu để <strong>đăng nhập</strong></span>
                        </div>
                        <div class="logmod__form">
                            <form accept-charset="utf-8" action="#" class="simform">
                                <div class="sminputs">
                                    <div class="input full">
                                        <label class="string optional" for="user-name">Email*</label>
                                        <input class="string optional" maxlength="255" id="user-email" placeholder="Email" type="email" size="50" />
                                    </div>
                                </div>
                                <div class="sminputs">
                                    <div class="input full">
                                        <label class="string optional" for="user-pw">Mật khẩu *</label>
                                        <input class="string optional" maxlength="255" id="user-pw" placeholder="Mật khẩu" type="password" size="50" />
                                        <span class="hide-password">Hiện</span>
                                    </div>
                                </div>
                                <div class="simform__actions">
                                    <input class="sumbit" name="commit" type="sumbit" value="Đăng nhập" />
                                    <span class="simform__actions-sidetext"><a class="special" role="link" href="#">Quên mật khẩu?<br>Click here</a></span>
                                </div>
                            </form>
                        </div>
                        <div class="logmod__alter">
                            <div class="logmod__alter-container">
                                <a href="#" class="connect facebook">
                                    <div class="connect__icon">
                                        <i class="fa fa-facebook"></i>
                                    </div>
                                    <div class="connect__context">
                                        <span>Đăng nhập với tài khoản <strong>Facebook</strong></span>
                                    </div>
                                </a>
                                <a href="#" class="connect googleplus">
                                    <div class="connect__icon">
                                        <i class="fa fa-google-plus"></i>
                                    </div>
                                    <div class="connect__context">
                                        <span>Đăng nhập với tài khoản <strong>Google+</strong></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>