<div class="modal-header">
    <h3 class="modal-title">Chọn ảnh màu sắc cho sản phẩm!</h3>
</div>
<div class="modal-body">
    <img src="http://gd4.alicdn.com/bao/uploaded/i4/2625514594/TB2GGImjVXXXXXlXpXXXXXXXXXX_!!2625514594.jpg_30x30.jpg" style="width:30px; height: 30px; float:left; margin-right:10px" />
    <img src="http://gd4.alicdn.com/bao/uploaded/i4/2625514594/TB2GGImjVXXXXXlXpXXXXXXXXXX_!!2625514594.jpg_30x30.jpg" style="width:30px; height: 30px; float:left; margin-right:10px" />
    <img src="http://gd4.alicdn.com/bao/uploaded/i4/2625514594/TB2GGImjVXXXXXlXpXXXXXXXXXX_!!2625514594.jpg_30x30.jpg" style="width:30px; height: 30px; float:left; margin-right:10px" />
    <br />
    <hr />
    Selected: <b>{{ selected.item }}</b>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>