<section class="page_head">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h2>Tạo đơn hàng</h2>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <form ng-submit="submit()" name="orderForm" novalidate>

        <div class="row sub_content block-content-order" ng-repeat="order in orders" ng-form="validateForm">
            <div class="carousel-intro">
                <div class="col-md-12">
                    <div class="dividerLatest">
                        <h4>Đơn Hàng #<span>{{ $index +1}}</span></h4>

                        <div class="gDot"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="col-sm-3 ">Link sản phẩm</th>
                        <th class="col-sm-1 ">Màu sắc</th>
                        <th class="col-sm-2 ">Size</th>
                        <th class="col-sm-2 ">Số lượng</th>
                        <th class="col-sm-2 ">Giá</th>
                        <th class="col-sm-2 ">Ghi chú</th>
                        <th class="col-sm-1 "></th>
                    </tr>
                    </thead>
                    <tbody class="listProduct">
                    <tr class="product-item" ng-repeat="product in order">
                        <td>
                            <input class="form-control "
                                   placeholder="Nhập link sản phẩm" name="link_{{$index}}" ng-model="product.linkSource"
                                   type="url" required>
                            <span class="error-msg"
                                  ng-show="validateForm.link_{{$index}}.$error.required && (validateForm.link_{{$index}}.$touched || validateForm.$submitted)
                                   ">Link không được bỏ trống.</span>
                            <span class="error-msg"
                                  ng-show="validateForm.link_{{$index}}.$error.url && (validateForm.link_{{$index}}.$touched || validateForm.$submitted)"
                                    >Link không hợp lệ.</span>

                        </td>
                        <td>
                            <input class="form-control" placeholder="Màu sắc" ng-model="product.color"
                                   type="text">
                        </td>
                        <td>
                            <input class="form-control" placeholder="Nhập size" ng-model="product.size"
                                   type="text">
                        </td>
                        <td>
                            <input class="form-control" placeholder="Số lượng" ng-model="product.quantity"
                                   type="text">
                        </td>
                        <td>
                            <input class="form-control" placeholder="Nhập giá" ng-model="product.price"
                                   type="text">
                        </td>
                        <td>
                            <textarea class="form-control" rows="2" placeholder="Ghi chú" ng-model="product.notes"
                                      type="text"></textarea>
                        </td>
                        <td>
                            <a class="btn btn-danger" ng-click="removeProduct(order, $index, $parent.$index)">
                                <i class="fa fa-trash-o" title="Xoá sản phẩm"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="carousel-intro">
                <div class="col-md-12">
                    <div class="dividerLatest">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="func-btn">
                <div class="row container">
                    <div class="col-xs-12 col-sm-2">
                        <a class="btn btn-default"
                           name="buttonAddProduct"
                           ng-click="addProduct(validateForm.$valid, order); validateForm.$setSubmitted();">
                            <i class="fa fa-plus"></i>Thêm sản phẩm</a>
                    </div>


                    <div class="col-xs-12 col-sm-4">
                        <a class="btn btn-success " ng-click="addOrder()">
                            <i class="fa fa-plus"></i> Thêm Shop
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <a class="btn btn-info send-order-btn"
                           ng-click="createOrder(validateForm.$valid, order); validateForm.$setSubmitted();">
                            <i class="fa fa-shopping-cart"></i> Gửi đơn hàng
                        </a>
                    </div>
                </div>


            </div>


        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-7">
                <a href="#/success" class="btn btn-info send-order-btn" ng-click="createOrders(orders)">
                    <i class="fa fa-shopping-cart"></i> Kết Đơn
                </a>
            </div>
        </div>
    </form>


</div>

