<section class="page_head">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h2>Tạo đơn hàng</h2>
            </div>
        </div>
    </div>
</section>

<div id="fuckoff" class="container" data-bind="foreach: orderItems">
    <div class="row sub_content block-content-order">
        <div class="carousel-intro">
            <div class="col-md-12">
                <div class="dividerLatest">
                    <h4>Đơn Hàng #<span data-bind="text: $index() + 1"></span></h4>

                    <div class="gDot"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="col-sm-2">Link sản phẩm</th>
                        <th class="col-sm-2">Màu sắc</th>
                        <th class="col-sm-2">Size</th>
                        <th class="col-sm-2">Số lượng</th>
                        <th class="col-sm-2">Giá</th>
                        <th class="col-sm-2">Ghi chú</th>
                        <th class="col-sm-1"></th>
                    </tr>
                    </thead>
                    <tbody class="listProduct">
                    <!-- ko foreach: $data -->
                    <tr class="product-item">
                        <td>
                            <input class="form-control" data-bind="value: $data.linkSource"
                                   placeholder="Nhập link sản phẩm" required="true" type="text">
                        </td>
                        <td>
                            <input class="form-control" data-bind="value: $data.color" placeholder="Màu sắc"
                                   type="text">
                        </td>
                        <td>
                            <input class="form-control" data-bind="value: $data.size" placeholder="Nhập size"
                                   type="text">
                        </td>
                        <td>
                            <input class="form-control" data-bind="value: $data.quantity" placeholder="Số lượng"
                                   type="text">
                        </td>
                        <td>
                            <input class="form-control" data-bind="value: $data.price" placeholder="Nhập giá"
                                   type="text">
                        </td>
                        <td>
                            <textarea class="form-control" data-bind="value: $data.notes" rows="2" placeholder="Ghi chú"
                                      type="text"></textarea>
                        </td>
                        <td>
                            <a class="btn btn-danger"
                               data-bind="click: function(data, event) { $root.removeProduct($index, data, event, $parentContext.$index);}"><i
                                    class="fa fa-trash-o" title="Xoá sản phẩm"></i></a>
                        </td>
                    </tr>
                    <!-- /ko -->
                    </tbody>
                </table>
            </div>
        </div>
        <div class="carousel-intro">
            <div class="col-md-12">
                <div class="dividerLatest">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="func-btn">
            <div class="row container">
                <div class="col-xs-12 col-sm-2">
                    <a class="btn btn-default"
                       data-bind="click: function(data, event) { $root.addProduct($index, data, event); }"><i
                            class="fa fa-plus"></i>Thêm sản phẩm</a>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <a class="btn btn-success " data-bind="click: $root.addOrder">
                        <i class="fa fa-plus"></i> Thêm Shop
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <a class="btn btn-info send-order-btn" data-bind="click: $root.createOrder">
                        <i class="fa fa-shopping-cart"></i> Gửi đơn hàng
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var a = 1;
    var vmWebMakeOrder = new WebMakeOrderViewModel();
    ko.applyBindings(vmWebMakeOrder, document.getElementById("fuckoff"));
</script>