<section class="page_head">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h2>Tạo đơn hàng</h2>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <form ng-submit="submit()" name="orderForm" novalidate>
        <div class="row sub_content block-content-order" ng-repeat="order in orders" ng-form="validateForm">
            <div class="carousel-intro">
                <div class="col-md-12">
                    <div class="dividerLatest">
                        <h4>Đơn Hàng #<span>{{ $index +1}}</span>. Tên Shop: <span class="tb-shop-name">{{getShopName(order)}}</span>
                        </h4>

                        <div class="gDot"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="product-items" ng-repeat="product in order">
                <div class="row">
                    <div class="div-img">
                        <img ng-src="{{product.featureImage}}">
                    </div>
                    <div class="div-content" style="height: 50px; width: 600px; overflow: hidden;">
                        <h4 class="tb-product-name" style="line-height: 0;">{{product.productName}}</h4>
                        <a target="_blank" href="{{product.linkSource}}" class="tb-product-link" style="line-height: 25px;">{{product.linkSource}}</a>
                    </div>
                    <div class="div-content" style="height: 50px;">
                        <table class="table-css">
                            <thead>
                                <tr>
                                    <th style="width:16.7%">Màu Sắc/颜色分类</th>
                                    <th style="width:16.7%">Size/尺码</th>
                                    <th style="width:16.7%">Gói/套餐</th>
                                    <th style="width:16.7%">Số Lượng</th>
                                    <th style="width:8.3%">Giá</th>
                                    <th style="width:25%">Ghi Chú</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td style="width:16.7%">
                                    <button class="btn btn-default" ng-show="!isShowColorSelection(product.colors)">Chọn ảnh</button>
                                    <select ng-show="isShowColorSelection(product.colors)">
                                        <option ng-repeat="color in product.colors.data">{{color}}</option>
                                    </select>
                                </td>
                                <td style="width:16.7%">
                                    <select>
                                        <option>abc</option>
                                        <option>abc</option>
                                        <option>abc</option>
                                        <option>abc</option>
                                        <option>abc</option>
                                    </select>
                                </td>
                                <td style="width:16.7%">
                                    <select>
                                        <option>abc</option>
                                        <option>abc</option>
                                        <option>abc</option>
                                        <option>abc</option>
                                        <option>abc</option>
                                    </select>
                                </td>
                                <td style="width:16.7%"><input type="number"></td>
                                <td style="width:8.3%"><input type="text"></td>
                                <td style="width:25%"><input type="text"></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <hr>
            </div>
        </div>


        <div class="row" ng-form="validateForm">
            <div class="div-input">
                <input class="form-control"
                       placeholder="Nhập link sản phẩm" ng-model="inputLink"
                       type="url" required>
                    <span class="error-msg"
                          ng-show="validateForm.link_{{$index}}.$error.required && (validateForm.link_{{$index}}.$touched || validateForm.$submitted)
                    ">Link không được bỏ trống.</span>
                    <span class="error-msg"
                          ng-show="validateForm.link_{{$index}}.$error.url && (validateForm.link_{{$index}}.$touched || validateForm.$submitted)"
                            >Link không hợp lệ.</span>
            </div>

            <div class="div-button">
                <div class="col-xs-12 col-sm-2">
                    <a class="btn btn-default"
                       name="buttonAddProduct"
                       ng-click="addProduct(validateForm.$valid, order);validateForm.$setSubmitted();">
                        <i class="fa fa-plus"></i>Thêm sản phẩm
                    </a>
                </div>


            </div>

        </div>


    </form>


</div>

