<!--Start Slider-->
<slider images="images"></slider>
<!--End Slider-->
<!--Start btn make order-->
<section>
    <div class="container">
        <div class="row sub_content">
            <div class="carousel-intro">
                <div class="col-md-12">
                    <div class="dividerLatest">
                        <h4>Tạo đơn hàng</h4>

                        <div class="gDot"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="container">
                <div class="row sub_content">
                    <div class="rs_box">
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="front_service">
                                <div class="icon_service">
                                    <i class="fa fa-globe"></i>

                                    <h3>Tạo từ website</h3>
                                </div>
                                <div class="fr_content">
                                    <p>Tạo đơn hàng trực tiếp từ hệ thống</p>
                                    <br/>
                                    <a class="btn btn-large btn-default" href="#/create-orders-link">
                                        <i class="fa fa-globe"></i> Khởi tạo
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="front_service">
                                <div class="icon_service">
                                    <i class="fa fa-file-text-o"></i>

                                    <h3>Tạo bằng Excel</h3>
                                </div>
                                <div class="fr_content">
                                    <p>Sử dụng mẫu Excel để tạo đơn hàng</p>
                                    <br/>
                                    <a class="btn btn-large btn-default" href="#fakelink">
                                        <i class="fa fa-file-text-o"></i> Khởi tạo
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="front_service">
                                <div class="icon_service">
                                    <i class="fa fa-download"></i>

                                    <h3>Tạo bằng công cụ</h3>
                                </div>
                                <div class="fr_content">
                                    <p>Sử dụng Extension trên Google Chrome hoặc Addon trên Firefox</p>
                                    <a class="btn btn-large btn-default" href="#fakelink">
                                        <i class="fa fa-download"></i> Tải công cụ
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end btn make order-->

<!--Start order process-->
<section id="makeorder-area">
    <div class="container">
        <div class="row sub_content">
            <div class="carousel-intro">
                <div class="col-md-12">
                    <div class="dividerLatest">
                        <h4>Quy trình đặt và giao nhận hàng</h4>

                        <div class="gDot"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-6 order-step">
                        <div class="service-item">
                            <div class="icon">
                                <i class="fa fa-search"></i>
                            </div>
                            <h4>BƯỚC 1: CHỌN HÀNG</h4>

                            <p>Chọn hàng trên các trang Taobao.com Alibaba.com Tmall.com 1688.com</p>
                        </div>

                    </div>
                    <div class="col-md-2 col-sm-6 order-step">
                        <div class="service-item">
                            <div class="icon">
                                <i class="fa fa-pencil"></i>
                            </div>
                            <h4>BƯỚC 2: TẠO ĐƠN HÀNG</h4>

                            <p>Tạo đơn hàng trên AliViet.Vn</p>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 order-step">
                        <div class="service-item">
                            <div class="icon">
                                <i class="fa fa-money"></i>
                            </div>
                            <h4>BƯỚC 3: ĐẶT CỌC TIỀN</h4>

                            <p>Kiểm tra báo giá và đặt cọc tiền</p>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 order-step">
                        <div class="service-item">
                            <div class="icon">
                                <i class="fa fa-plane"></i>
                            </div>
                            <h4>BƯỚC 4: VẬN CHUYỂN</h4>

                            <p>Hàng được vận chuyển về kho trung quốc sau đó về kho tại Việt Nam</p>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="service-item">
                            <div class="icon">
                                <i class="fa fa-thumbs-o-up"></i>
                            </div>
                            <h4>BƯỚC 5: NHẬN HÀNG</h4>

                            <p>Hàng chuyển đến tận nơi cho khách. Hoặc khách hàng đến kho của AliViet nhận hàng </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end order process-->