<div class="divH20"></div>

<div class="body body-s container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 col-xs-12">
            <form ng-submit="doSignIn(userLogin.$valid)" name="userLogin" id="sky-form" class="sky-form" novalidate>
                <header>Đăng nhập hệ thống</header>

                <fieldset>
                    <section>
                        <div class="row">
                            <label class="label col col-4">E-mail hoặc tên đăng nhập</label>

                            <div class="col col-8">
                                <label class="input">
                                    <i class="icon-append fa fa-user"></i>
                                    <input type="text" name="username" ng-model="loginRequest.username" required>

                                    <p class="error-message"
                                       ng-show="userLogin.username.$invalid && (userLogin.username.$touched || userLogin.$submitted)">
                                        Email và tên đăng nhập không được để trống</p>
                                </label>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="row">
                            <label class="label col col-4">Mật khẩu</label>

                            <div class="col col-8">
                                <label class="input">
                                    <i class="icon-append fa fa-lock"></i>
                                    <input type="password" name="password" ng-model="loginRequest.password" required>

                                    <p class="error-message"
                                       ng-show="userLogin.password.$invalid && (userLogin.password.$touched || userLogin.$submitted)">
                                        Mật khẩu
                                        không được để trống</p>
                                </label>

                                <div class="note"><a href="#sky-form2" class="modal-opener">Quên mật khẩu?</a></div>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="row">
                            <div class="col col-4"></div>
                            <div class="col col-8">
                                <label class="checkbox"><input type="checkbox" name="remember" checked><i></i>Ghi nhớ
                                    đăng
                                    nhập</label>
                            </div>
                        </div>
                    </section>
                </fieldset>
                <div>
                    <button type="submit" class="button btn btn-default">Đăng nhập</button>
                </div>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<div class="divH20"></div>