<div class="divH20"></div>

<div class="body body-s container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 col-xs-12">
            <form ng-submit="doSignUp(userSignUp.$valid
            )" name="userSignUp" id="sky-form" class="sky-form" novalidate>
                <header>Đăng ký tài khoản</header>

                <fieldset>
                    <section>
                        <div class="row">
                            <label class="label col col-4">Tên đăng nhập</label>

                            <div class="col col-8">
                                <label class="input">
                                    <i class="icon-append fa fa-user"></i>
                                    <input type="text" name="username" ng-model="createUserRequest.user.username"
                                           ng-pattern="/^[A-Za-z0-9_]+$/" ng-minlength="3" ng-maxlength="20"
                                           ng-required="true" ng-change="checkUsernameExisted()">
                                    <b class="tooltip tooltip-bottom-right">Chấp nhận chữ, số, hoặc gạch dưới, từ 3-20
                                        ký tự</b>

                                    <p class="error-msg"
                                       ng-show="userSignUp.username.$error.required && (userSignUp.username.$touched || userSignUp.$submitted)">
                                        Tên đăng nhập không được để trống</p>

                                    <p class="error-msg"
                                       ng-show="userSignUp.username.$error.minlength && (userSignUp.username.$touched || userSignUp.$submitted)">
                                        Tên đăng nhập ít nhất 3 ký tự</p>

                                    <p class="error-msg"
                                       ng-show="userSignUp.username.$error.maxlength && (userSignUp.username.$touched || userSignUp.$submitted)">
                                        Tên đăng nhập tối đa 20 ký tự</p>

                                    <p class="error-msg"
                                       ng-show="userSignUp.username.$error.pattern && (userSignUp.username.$touched || userSignUp.$submitted)">
                                        Chỉ chấp nhận chữ cái, số, hoặc gạch dưới</p>

                                    <p class="error-msg" ng-show="messageErrorUsername">
                                        USERNAME này đã tồn tại
                                    </p>


                                </label>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="row">
                            <label class="label col col-4">Họ và Tên</label>

                            <div class="col col-8">
                                <label class="input">
                                    <i class="icon-append fa fa-user"></i>
                                    <input type="text" name="fullName" ng-model="createUserRequest.user.fullName"
                                           ng-required="true">
                                    <b class="tooltip tooltip-bottom-right">Họ tên thật của bạn</b>

                                    <p class="error-msg"
                                       ng-show="userSignUp.fullName.$error.required && (userSignUp.fullName.$touched || userSignUp.$submitted)">
                                        Họ Tên không được để trống</p>

                                </label>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="row">
                            <label class="label col col-4">Mật khẩu</label>

                            <div class="col col-8">
                                <label class="input">
                                    <i class="icon-append fa fa-lock"></i>
                                    <input type="password" name="password" ng-model="createUserRequest.password"
                                           ng-minlength="6" ng-maxlength="50"
                                           ng-required="true">


                                    <p class="error-msg"
                                       ng-show="userSignUp.password.$error.required && (userSignUp.password.$touched || userSignUp.$submitted)">
                                        Mật khẩu
                                        không được để trống</p>

                                    <p class="error-msg"
                                       ng-show="userSignUp.password.$error.minlength && (userSignUp.password.$touched || userSignUp.$submitted)">
                                        Mật khẩu
                                        ít nhất 6 ký tự</p>

                                    <p class="error-msg"
                                       ng-show="userSignUp.password.$error.maxlength && (userSignUp.password.$touched || userSignUp.$submitted)">
                                        Mật khẩu
                                        nhiều nhất 50 ký tự</p>
                                </label>


                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="row">
                            <label class="label col col-4">Nhập lại mật khẩu</label>

                            <div class="col col-8">
                                <label class="input">
                                    <i class="icon-append fa fa-lock"></i>
                                    <input type="password" name="confirmPassword"
                                           ng-model="createUserRequest.confirmPassword"
                                           ng-required="true"
                                           compare-to="createUserRequest.password">
                                    <b class="tooltip tooltip-bottom-right">Nhập lại password</b>

                                    <p class="error-msg"
                                       ng-show="userSignUp.confirmPassword.$invalid  && ( userSignUp.confirmPassword.$touched || userSignUp.$submitted)">
                                        Mật khẩu
                                        phải giống nhau
                                    </p>
                                </label>


                            </div>
                        </div>
                    </section>


                    <section>
                        <div class="row">
                            <label class="label col col-4">Email</label>

                            <div class="col col-8">
                                <label class="input">
                                    <i class="icon-append fa fa-envelope"></i>
                                    <input type="text" name="email" ng-model="createUserRequest.user.email"
                                           ng-pattern='/^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/i'
                                           ng-required="true" ng-change="checkEmailExisted()">
                                    <b class="tooltip tooltip-bottom-right">Chấp nhận chữ, số, hoặc gạch dưới</b>

                                    <p class="error-msg"
                                       ng-show="userSignUp.email.$error.required && (userSignUp.email.$touched || userSignUp.$submitted)">
                                        Email
                                        không được để trống</p>

                                    <p class="error-msg"
                                       ng-show="userSignUp.email.$error.pattern && (userSignUp.email.$touched || userSignUp.$submitted)">
                                        Email sai định dạng</p>

                                    <p class="error-msg" ng-show="messageErrorEmail">
                                        EMAIL này đã tồn tại
                                    </p>


                                </label>


                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="row">
                            <label class="label col col-4">Số điện thoại</label>

                            <div class="col col-8">
                                <label class="input">
                                    <i class="icon-append fa fa-phone"></i>
                                    <input type="text" name="phoneNumber" ng-model="createUserRequest.user.phoneNumber"
                                           ng-pattern="/^\+{0,1}[0-9]+$/" ng-minlength="10" ng-maxlength="20" required>
                                    <b class="tooltip tooltip-bottom-right">Nhập số điện thoại của bạn</b>

                                    <p class="error-msg"
                                       ng-show="userSignUp.phoneNumber.$error.required && (userSignUp.phoneNumber.$touched || userSignUp.$submitted)">
                                        Số điện thoại không được để trống</p>

                                    <p class="error-msg"
                                       ng-show="userSignUp.phoneNumber.$error.pattern && (userSignUp.phoneNumber.$touched || userSignUp.$submitted)">
                                        Số điện thoại không hợp lệ</p>

                                    <p class="error-msg"
                                       ng-show="userSignUp.phoneNumber.$error.minlength && (userSignUp.phoneNumber.$touched || userSignUp.$submitted)">
                                        Số điện thoại ít nhất 10 ký tự</p>

                                    <p class="error-msg"
                                       ng-show="userSignUp.phoneNumber.$error.maxlength && userSignUp.phoneNumber.$touched && userSignUp.$submitted">
                                        Số điện thoại nhiều nhất 20 ký tự</p>
                                </label>


                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="row">
                            <label class="label col col-4">Chọn kho về</label>
                            <div class="col col-8">
                                <label class="select">
                                    <select name="stock" required ng-model="createUserRequest.user.stockCd">
                                        <option value="" selected disabled>Chọn Kho Về</option>
                                        <option value="HN">Hà Nội</option>
                                        <option value="SG">Sài Gòn</option>
                                    </select>
                                    <i></i>
                                    <p class="error-msg"
                                       ng-show="userSignUp.stock.$error.required && userSignUp.$submitted">
                                        Bạn chưa chọn kho</p>
                                </label>
                            </div>
                        </div>
                    </section>


                    <section>
                        <div class="row">
                            <div class="col col-4"></div>
                            <div class="col col-8">
                                <label class="checkbox">
                                    <input type="checkbox" name="check" ng-model="checked"><i></i>Tôi đồng ý <a href="#/signIn" target="_blank">quy
                                    định</a> của công ty.
                                    <p class="error-msg" ng-show="userSignUp.$submitted && !checked">Để sử dụng dịch
                                        vụ, bạn phải đồng ý với các quy
                                        định của công ty chúng tôi.
                                    </p>
                                </label>
                            </div>
                        </div>
                    </section>


                </fieldset>
                <div>
                    <button type="submit" class="button btn btn-default">Đăng ký</button>
                </div>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<div class="divH20"></div>