<div class="container padding">

    <div class="panel panel-default ">
        <div class="panel-heading background-white">
            <h2 style="text-align: center;">Tạo tài khoản thành công</h2><br>

            <h3>Tên Đăng nhập của bạn là: <b style="color: red; font-size: 15px;">{{user.username}}</b></h3>
            <br>

            <p>Chúng tôi sẽ tiến hành gửi mã để xác nhân Email này: <b style="color: red; font-size: 15px;">{{user.email}}</b></p>
            <br>
            <p>Vui lòng vào maill để xác nhận</p>
            <a href="#/signIn">Đăng nhập</a>

        </div>
    </div>


</div>