<section>
    <div class="container">
        <div class="row sub_content">
            <div class="carousel-intro">
                <div class="col-md-12">
                    <div class="dividerLatest">
                        <h4>Đăng nhập hệ thống</h4>

                        <div class="gDot"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="container">
                <div class="row sub_content">
                    <div class="rs_box">
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="front_service">
                                <div class="icon_service">
                                    <i class="fa fa-globe"></i>

                                    <h3>Tạo từ website</h3>
                                </div>
                                <div class="fr_content">
                                    <p>Tạo đơn hàng trực tiếp từ hệ thống</p>
                                    <br/>
                                    <a class="btn btn-large btn-default" href="make_order.html">
                                        <i class="fa fa-globe"></i> Khởi tạo
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="front_service">
                                <div class="icon_service">
                                    <i class="fa fa-file-text-o"></i>

                                    <h3>Tạo bằng Excel</h3>
                                </div>
                                <div class="fr_content">
                                    <p>Sử dụng mẫu Excel để tạo đơn hàng</p>
                                    <br/>
                                    <a class="btn btn-large btn-default" href="#fakelink">
                                        <i class="fa fa-file-text-o"></i> Khởi tạo
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="front_service">
                                <div class="icon_service">
                                    <i class="fa fa-download"></i>

                                    <h3>Tạo bằng công cụ</h3>
                                </div>
                                <div class="fr_content">
                                    <p>Sử dụng Extension trên Google Chrome hoặc Addon trên Firefox</p>
                                    <a class="btn btn-large btn-default" href="#fakelink">
                                        <i class="fa fa-download"></i> Tải công cụ
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>